.inputWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: .5rem;
    margin: 1rem;
    border: px solid gray;
    width: fit-content;
   

    &:hover{
        border: 1px solid blue;
        transition-duration: box-shadow .5s;
    }

    .zodiac{
        width: 2rem;
        height: 2rem;
        padding: 0rem 1rem;
    }
    
    .input{
        border: none;
        &:active{
            border: none;
        }
        
    }

    .day, .month{
        width: 2rem;
        text-align: center;
    }

    .year{
        width: 3rem;
        text-align: center;
    }

    span{
        color: rgb(175, 174, 174);
        
    }
}